.border {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.border.pastel {
    background-color: #f9b0a5;
    border: 1px solid #f9b0a5;
}

.border.pastel2 {
    background-color: #ffc884;
    border: 1px solid #ffc884;
}

.border.pastel3 {
    background-color: #ffcbf3;
    border: 1px solid #ffcbf3;
}

.border.pastel4 {
    background-color: #bde4e9;
    border: 1px solid #bde4e9;
}

/* Set background color and padding for nav bar */
#mainNav {
    font-family: Futura, sans-serif;
    background-color: #fff;
    padding: 10px 0;
}

/* Set font color for nav links */
.navbar-nav .nav-link {
    color: #333;
}

/* Set hover color for nav links */
.navbar-nav .nav-link:hover {
    color: #69eeff;
}

/* Set color and hover color for active nav links */
.navbar-nav .active>.nav-link,
.navbar-nav .active>.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover {
    color: #69eeff;
    background-color: transparent;
    border-bottom: 2px solid #69eeff;
}

/* Set color and hover color for dropdown links */
.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #69eeff;
    background-color: transparent;
}

/* Set color for dropdown menu background */
.dropdown-menu {
    background-color: #fff;
}

/* Set color for hamburger icon */
.navbar-toggler {
    border-color: #69eeff;
}

/* Set color for hover state of hamburger icon */
.navbar-toggler:hover,
.navbar-toggler:focus {
    border-color: #69eeff;
}

/* Set color for hamburger icon when menu is open */
.navbar-toggler:not(.collapsed) {
    border-color: #69eeff;
}

/* Set color for dropdown menu arrow icon */
.dropdown-toggle::after {
    border-top-color: #333;
    border-right-color: #333;
}

/* Set color for hover state of dropdown menu arrow icon */
.dropdown-toggle:hover::after {
    border-top-color: #69eeff;
    border-right-color: #69eeff;
}

/* Set pink color for active state of dropdown menu arrow icon */
.dropdown-toggle.active::after {
    border-top-color: #69eeff;
    border-right-color: #69eeff;
}



/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

/* Section styles */
section {
    background-color: #fff;
    padding: 50px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0069d9;
}

#login-box {
    position: relative;
}

#login-box img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: auto;
}