.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}


.best-sellers {
    background-color: #c6eac8;
    background-position: center;
    background-size: cover;
}

.worst-sellers {
    background-color: #fffdbbc7;
    background-position: center;
    background-size: cover;
}

.best-customer {
    background-color: #ace6ff;
    background-position: center;
    background-size: cover;
}

.latest-product {
    background-color: #e8c7f3c7;
    background-position: center;
    background-size: cover;
}

/* Set background color and padding for nav bar */
#mainNav {
    font-family: Futura, sans-serif;
    background-color: #fff;
    padding: 10px 0;
}

/* Set font color for nav links */
.navbar-nav .nav-link {
    color: #333;
}

/* Set hover color for nav links */
.navbar-nav .nav-link:hover {
    color: #69eeff;
}

/* Set color and hover color for active nav links */
.navbar-nav .active>.nav-link,
.navbar-nav .active>.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover {
    color: #69eeff;
    background-color: transparent;
    border-bottom: 2px solid #69eeff;
}

/* Set color and hover color for dropdown links */
.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #69eeff;
    background-color: transparent;
}

/* Set color for dropdown menu background */
.dropdown-menu {
    background-color: #fff;
}

/* Set color for hamburger icon */
.navbar-toggler {
    border-color: #69eeff;
}

/* Set color for hover state of hamburger icon */
.navbar-toggler:hover,
.navbar-toggler:focus {
    border-color: #69eeff;
}

/* Set color for hamburger icon when menu is open */
.navbar-toggler:not(.collapsed) {
    border-color: #69eeff;
}

/* Set color for dropdown menu arrow icon */
.dropdown-toggle::after {
    border-top-color: #333;
    border-right-color: #333;
}

/* Set color for hover state of dropdown menu arrow icon */
.dropdown-toggle:hover::after {
    border-top-color: #69eeff;
    border-right-color: #69eeff;
}

/* Set pink color for active state of dropdown menu arrow icon */
.dropdown-toggle.active::after {
    border-top-color: #69eeff;
    border-right-color: #69eeff;
}



/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

/* Section styles */
section {
    background-color: #fff;
    padding: 50px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0069d9;
}

#login-box {
    position: relative;
}

#login-box img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    height: auto;
}

.pastel-color {
    background-color: #c7ebd4c7;
    border-color: #c6eac8;
    color: #777777;
}

.button-group1 {
    margin-bottom: 8px;
    margin-right: 5px;
}

.button-group2 {
    margin-bottom: 8px;
    margin-right: 5px;
}

.button-group3 {
    margin-bottom: 8px;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-size: 0.875rem;
    background-color: transparent;
}

th,
td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    font-weight: 500;
    border-bottom-width: 2px;
}

tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

/* Center the login form */
#login-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the login box */
#login-box {
    background-color: #fff;

    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

/* Style the form input fields */
.form-control {
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}


/* Style the register link */
#register-link a {
    color: #008CBA;
    text-decoration: none;
}

#register-link a:hover {
    text-decoration: underline;
}

#login-row img {
    width: 200px;
    display: block;
    margin: 0 auto 20px;
}

.login-page {
    background-image: url('images/Green\ Watercolor\ Landscape\ Computer\ Desktop\ Wallpaper\ Background.jpeg');
}


.home-list {
    list-style-type: none;
}

.my-btn {
    padding: 10px 20px;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

ul.no-marker {
    list-style: none;
}

.btn-btn-sm {
    margin-bottom: 18px;
}

.d-flex {
    margin-top: 10px;
}